.card{
    display: flex;
    position: relative;
    border-bottom: 2px solid #359D9E;
    align-items: baseline;
    margin: 1rem;
}


.titulo {
    color: #000 !important;
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
    line-height: 24px;
}

.subtitulo{
    color: #000 !important;
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
    line-height: 24px;
}

.mr-2{
    margin-right: .5rem;
}

.ml-3, .mx-3 {
    margin-left: 1rem !important
}